.menu {
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 5;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 20px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.menu li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
